<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/atlassian-connect/all.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui.css" media="all">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <script src="{{baseUrl}}/atlassian-connect/all-debug.js" type="text/javascript"></script>
    <script src="/js/jquery-1.7.min.js" type="text/javascript"></script>
    <!-- Experiemental Scripts and CSS -->
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.css"/>
</head>
<body>

<section id="content" role="main">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
          <form class="aui">
              <aui-label for="async-project-single-select">Select a Project Status:</aui-label>
              <p>
                  <aui-select
                      id="status-single-select"
                      name="project"
                      placeholder="Select a status"
                  >
                    <aui-option value="planning">Planning</aui-option>
                    <aui-option value="onTarget">On Target</aui-option>
                    <aui-option value="delayed">Delayed</aui-option>
                    <aui-option value="atRisk">At Risk</aui-option>
                    <aui-option value="onHold">On Hold</aui-option>
                    <aui-option value="done">Done</aui-option>
                  </aui-select>
              </p>
          </form>

        </div>
    </div>
</section>

<script type="text/javascript">
    function getQueryParam(name) {
        return decodeURI(
                (RegExp('(&|\\?)' + name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[2]
        );
    }

    // set select value based on current macro param value
    var status = getQueryParam("status");

    // save out newly selected macro param value on submit
    AP.require(["confluence", "dialog"], function (confluence, dialog) {

        function onSubmit() {
            var status = document.getElementById("status-single-select").value,
              macroParams = {
                status: status
              }
            // var sport = $("table.aui .sport.active").data('sport'),
            //         macroParams = {
            //           sport: sport
            //         };
            console.log('MACRO PARAMS')
            console.log(macroParams)
            confluence.saveMacro(macroParams);
            confluence.closeMacroEditor();
            return true;
        }

        dialog.getButton("submit").bind(onSubmit);
    });

</script>
</body>
</html>
